version: '3.8'

services:
  db:
    build: ./db
    restart: unless-stopped
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=dashboard_db
    ports:
      - "5435:5432"

  app:
    build: ./app
    depends_on:
      - db
    ports:
      - 8010:8010
    volumes:
      - ./app:/app
    environment:
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=sistema_vendas

